.cart {
  width: calc(100vw - 80px);
  padding-left: 146px;
  padding-right: 146px;
  margin: 0 auto;

  .titleContainer {
    padding: 80px 0 0;
    margin-bottom: 50px;
    text-align: center;
    position: relative;

    h2 {
      font-style: normal;
      font-weight: 700;
      font-size: 30px;
      line-height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      text-transform: uppercase;
      color: #000000;
      margin-bottom: 60px;
    }
  }

  .cartForm {
    .cartWrap {
      display: flex;
      width: 100%;

      .cartLeft {
        width: calc(100% - 430px - 20px);

        .cartContents {
          .cartCheckDiv {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;

            .cartCheck {
              label {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 15px;
                padding: 5px 0;
                cursor: pointer;

                .btnSelectAll {
                  display: flex;

                  &:checked {
                    background: url('https://www.drmartens.co.kr/data/skin/responsive_ver1_default_gl/images/newbird/Checkbox_onn.svg')
                      no-repeat;
                    width: 20px;
                    height: 20px;
                  }
                }

                span {
                  font-weight: 600;
                  display: flex;
                  font-style: normal;
                  font-size: 16px;
                  line-height: 20px;
                  align-items: center;
                  color: #000000;
                  cursor: pointer;
                }

                span::before {
                  width: 20px;
                  height: 20px;
                  margin-right: 10px;
                  content: ' ';
                }
              }
            }

            .btnDeleteAll {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              padding: 9px 30px;
              height: 40px;
              min-width: 120px;
              font-style: normal;
              font-weight: 700;
              font-size: 16px;
              line-height: 30px;
              text-align: center;
              text-transform: uppercase;
              color: #000000;
              background: #ffffff;
              border: 1px #000000 solid;
            }
          }
        }

        .cartList {
          .shoppingList {
            .shoppingItemList {
              border: 1px solid #e1e1e1;

              .shoppingItemContent {
                padding: 10px 15px;
                background: #f7f7f7;
                border-bottom: 1px solid #e1e1e1;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .itemCheck {
                  label {
                    .btnSelectItem {
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
