.orderRight {
  display: block;
  width: 490px;
  padding-left: 20px;

  .orderWrap {
    position: sticky;
    top: 145px;

    .orderContainer {
      margin-top: 50px;
      border: 1px solid #e1e1e1;

      .orderExAmount {
        display: flex;
        align-items: center;
        text-align: center;
        border-bottom: 1px solid #e1e1e1;
        padding: 15px 20px;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        text-transform: uppercase;
        color: #000000;
        background-color: #f7f7f7;
      }

      .sumPriceContainer {
        padding: 15px 20px;

        div {
          display: flex;
          justify-content: space-between;
          align-items: center;

          span {
            display: flex;
            align-items: center;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 28px;
            color: #000000;
          }

          b {
            display: flex;
            align-items: center;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 28px;
            color: #000000;

            span {
              font-style: normal;
              font-weight: bold;
              font-size: 18px;
              line-height: 28px;
            }
          }

          // s {
          //   display: flex;
          //   align-items: center;
          //   text-decoration: none;
          //   font-style: normal;
          //   font-weight: bold;
          //   font-size: 18px;
          //   line-height: 28px;
          //   color: #bb172f;

          //   span {
          //     font-style: normal;
          //     font-weight: bold;
          //     font-size: 18px;
          //     line-height: 28px;
          //     color: #bb172f;
          //   }
          // }

          strong {
            display: flex;
            align-items: center;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 30px;
            color: #000000;

            span {
              font-style: normal;
              font-weight: bold;
              font-size: 20px;
              line-height: 28px;
            }
          }
        }

        div:last-child > span {
          font-weight: 700;
        }
      }

      .sumPriceContainer > div + div {
        margin-top: 10px;
      }
    }

    .agreeTitle {
      display: flex;
      align-items: center;
      text-align: center;
      margin-top: 30px;
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 30px;
      text-transform: uppercase;
      color: #000000;
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: 1px #e1e1e1 solid;

      .term {
        margin-left: 15px;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        text-transform: uppercase;
        color: #000000;
      }
    }
    .agreeArea {
      .area {
        div {
          padding: 0 15px;
        }

        .allAgree {
          .checkAll {
            label {
              display: flex;
              justify-content: flex-start;
              position: relative;
              padding: 5px 0;
              cursor: pointer;

              input {
                position: absolute;
                top: 0;
                left: 0;
                width: 0;
                height: 0;
                opacity: 0;
              }

              span {
                display: flex;
                align-items: flex-start;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                color: #000000;
              }
            }
          }
        }

        .partAgree {
          &div {
            padding: 0 15px;
          }

          .agreeList {
            margin-top: 20px;

            li + li {
              margin-top: 10px;
            }

            li {
              display: flex;
              align-items: flex-start;
              justify-content: space-between;

              .agreeChecks {
                max-width: calc(100% - 40px);

                label {
                  display: flex;
                  position: relative;
                  padding: 5px 0;
                  cursor: pointer;

                  input {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 0;
                    height: 0;
                    opacity: 0;
                  }

                  span {
                    display: flex;
                    align-items: flex-start;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20px;
                    color: #000000;

                    &::before {
                      transform: translateY(2px);
                    }

                    b {
                      margin-left: 5px;
                      font-style: normal;
                      font-size: 16px;
                      font-weight: bold;
                      line-height: 20px;
                      color: #000000;
                    }

                    i {
                      font-style: normal;
                      max-width: calc(100% - 30px);
                      font-weight: 400;
                      font-size: 16px;
                      line-height: 20px;
                      color: #000000;
                    }
                  }
                }
              }

              div {
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 30px;
                text-decoration-line: underline;
                color: #000000;
              }
            }
          }
        }
      }
    }

    .payDiv {
      margin-top: 30px;

      .paymentInput {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 9px 30px;
        border: 1px #ffe512 solid;
        font-style: normal;
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
        text-align: center;
        text-transform: uppercase;
        background: #ffe512;
        color: #000000;
        cursor: pointer;

        &:hover {
          background: #ffd343;
        }
      }
    }
  }
}
