span {
  label {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    padding: 5px 0;
    cursor: pointer;

    input[type='checkbox'] {
      display: none;
    }

    .btnSelectAll {
      display: flex;
      width: 20px;
      height: 20px;
    }

    input[type='checkbox']:checked + span::before {
      background: url('https://www.drmartens.co.kr/data/skin/responsive_ver1_default_gl/images/newbird/Checkbox_onn.svg')
        no-repeat;
    }

    input[type='checkbox'] + span::before {
      background: url('https://www.drmartens.co.kr/data/skin/responsive_ver1_default_gl/images/newbird/Checkbox_off.svg')
        no-repeat;
    }

    span {
      display: flex;
      align-items: center;
      font-weight: 600;
      font-style: normal;
      font-size: 16px;
      line-height: 20px;
      color: #000000;
      cursor: pointer;

      &::before {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        content: ' ';
      }
    }
  }
}
