.productDetail {
  display: flex;
  width: 100%;
  min-width: 320px;
  height: 100%;
  max-height: 100000px;
  padding: 0;
  font-size: 13px;
  line-height: 1.4;
  font-weight: 400;
  color: #666;
  gap: 30px;

  .layoutBody {
    width: 100%;
    max-width: 100%;
    padding: 0;
    position: relative;
    background-color: #ffffff;

    .productsDiv {
      display: flex;
      width: 100%;

      .productDetailContent {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        max-width: 1200px;
        margin: 0 auto;
        margin-top: 10px;
        width: calc(100% - 40px);
      }
    }
  }
}
